<md-dialog aria-label="更改接口测试地址" style="width:400px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>更改接口测试地址</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="row">
            <md-input-container flex>
                <label>链接</label>
                <input ng-model="newLink">
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="submit()" class="md-primary md-raised" style="width: 100px; height: 30px;">
            修改
        </md-button>
    </div>
</md-dialog>