#container h2, #card-container{
    width: 960px;
    margin: 20px auto;
}
#card-container{
    min-height: 300px;
}

#card-container .md-button{
    min-width: 9em;
    margin: .3em;
}
#interface-card{
    padding: 20px;
    background: #673AB7;
}
#interface-card,#product-card,#wiki-card,#interface-card a,#product-card a,#wiki-card a {
    color: #EDE7F6;
 }
#product-card {
    padding: 20px;
    background: #00BCD4;
}
#wiki-card{
    padding: 20px;
    background: #ff9800;
}
#category-list button{
    width: 100%;
    height: 40px;
}
.card .field {
    padding: 5px;
}